{{>menu productsData=menuData showUserNavMenu=showUserNavMenu}}
<section id='categories'>
    {{>switch-btns switchBtnsInfo=switchBtnsInfo}}
    {{>carousel productsData=productsData carouselId=carouselId subCategoriesArr=subCategoriesArr}}
</section>
<script type='module' src='/js/categories.js'></script>